{% extends 'base.html' %} {% block title %}
<title>Detail - Password Manager</title>

{% endblock %} {% block body %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="text-center mt-5">
        <img
          src="/{{file_route}}{{image[1]}}"
          alt="Image"
          class="img-fluid rounded"
          width="800px"
          height="600px"
        />
      </div>
      <div class="container text-center mt-4">
        <a href="{{url_for('image_manager.delete')}}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
