<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Save New Video - Video Manager</title>
    <style>
      body {
        background-color: #f2f2f2 !important;
      }
    </style>
    <link rel="stylesheet" href="/static/css/mdb.min.css" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card p-5">
        <div class="d-flex justify-content-center align-items-center">
          <div class="text-center mt-2 mb-3">
            <h2><strong>Save Video</strong></h2>
          </div>
        </div>
        <label for=""><strong>Select Video: </strong></label>
        <form action="" method="post" enctype="multipart/form-data" class="" accept=".mp4 .mkv">
          <input type="file" name="video" id="" class="form-control" />

          <div class="d-flex mt-5">
            <button type="submit" class="btn btn-primary">UPLOAD</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
