<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block title %} {% endblock %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    " />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js
    "></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/logo1-background.png') }}" type="image/x-icon" />
</head>

<body style="background-color: #eee">
  {% block body %} {% endblock %}
  {% include 'footer.html' %}
</body>

<!-- JavaScript -->
<script src="/static/js/show_pass.js"></script>

</html>