<style>
  footer {
    display: flex;
    text-align: center;
    background-color: #0a58ca;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    margin-top: 3.5rem;
    color: white;
  }

  .img-bg {
    background-color: white;
    display: block;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 3px;
  }

  #footer-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
  }

  #footer-link:hover {
    text-decoration: underline;
    border-bottom: white;
  }

  #footer-social-container {
    border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
    margin-bottom: 1.5rem;
  }

  #footer-label {
    width: 100%;
    padding-top: 15px;
    color: #e5e5e5;
    border: none;
    cursor: default;
    font-size: 12px;
  }

  #footer-label-2 {
    width: 100%;
    padding-top: 20px;
    color: #e5e5e5;
    border: none;
    cursor: default;
    font-size: 12px;
  }

  #copyrights {
    color: #9caed9;
    font-size: 12px;
    margin-top: 1.5rem;
    margin-bottom: 5px;
  }

  .img-play:hover {
    opacity: 0.7;
  }

  #capthca {
    font-size: 8px;
    color: #9caed9;
  }
</style>
<footer>
  <div class="container">
    <div id="footer-social-container">
      <div class="row mb-3">
        <div class="col mt-3 mb-3">
          <div class="container d-flex">
            <label for="" id="footer-label-2">Follow Us</label>
            <div class="container d-flex gap-3">
              <a href="" class="img-bg">
                <img src="/static/img/instagram.svg" alt="Instagram" width="25" height="25" />
              </a>
              <a href="" class="img-bg">
                <img src="/static/img/twitter.svg" alt="Twitter" width="25" height="25" />
              </a>
              <a href="" class="img-bg">
                <img src="/static/img/discod.svg" alt="Discord" width="25" height="25" />
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col m-4">
                  <div class="container d-flex">
                    <label id="footer-label"> Get The App </label>
                  </div>
                </div>
                <div class="col mt-3">
                  <div class="container mt-3 d-flex gap-2">
                    <a href=""
                      ><img
                        src="https://cdn.myanimelist.net/images/appli/badge_googleplay.png"
                        alt="Playstore"
                        height="30"
                        class="img-play"
                    /></a>
                    <a href=""
                      ><img
                        src="https://cdn.myanimelist.net/images/appli/badge_iOS.png"
                        alt="App Store"
                        height="30"
                        class="img-app"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <a href="{{url_for('home.index')}}" id="footer-link"> Home </a>
        |
        <a href="" id="footer-link">About</a>
        <a href="" id="footer-link">Support</a>
        <a href="" id="footer-link">FAQ</a>
        <a href="" id="footer-link">Privacy</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p id="copyrights">
          MyAnimeList.net is a property of MyAnimeList Co.,Ltd. ©2023 All Rights Reserved.
        </p>
        <p id="capthca">
          This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service
          apply.
        </p>
      </div>
    </div>
  </div>
</footer>
