{% extends 'base.html' %} {% block title %}
<title>Find Friends - Password Manager</title>

{% endblock %} {% block body %} {% if total_search == 0 %}

<div class="container my-5">
  <div class="card p-5">
    <div class="card-body text-center"><h1 class="text-danger">NO USER AVALIABLE</h1></div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="card m-5">
    <div class="card-body">
      {% for x in user %}
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img
                src="/static/img/users/Rei/{{pp_str}}"
                alt="pp"
                class="img-fluid"
                style="width: 200px; height: 200px"
              />
            </div>
            <div class="col">
              <div class="row">
                <div class="col">{{x[0]}}</div>
                <div class="col">
                  <a href="{{url_for('relationship.add', id_2=x[1])}}" class="btn btn-primary"
                    >Follow</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} {% endblock %}
